img {
    width: 4%;
    left: 0;
    bottom: 0;
    position: absolute;
    margin-left: 5px;
    margin-bottom: 5px;
}

h1 {
    color: black;
    text-align: center;
    font-size: 60px;
    font-family: SansSerif, sans-serif;
    -webkit-text-stroke: 1px white;
}

.centeredElements {
    margin-top: 20%;
    position: absolute;
    left: 25%;
    width: 50%;
}

.menuButton:link,
.menuButton:visited,
.menuButton {
    color: white;
    text-decoration: none;
    text-align: center;
}

p {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menuButton:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.menuButton:active {
    color: white;
    background-color: black;
    border-color: black;
}

#mainElements {
    background-color: black;
    cursor: pointer;
}

body {
    background-image: url("../textures/default_background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: black;
}