img {
    width: 4%;
    left: 0;
    bottom: 0;
    position: absolute;
    margin-left: 5px;
    margin-bottom: 5px;
}

.menuButton:link,
.menuButton:visited,
.menuButton:hover,
.menuButton:active,
.menuButton {
    color: white;
    text-decoration: none;
    text-align: center;
}

p {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
#mainElements {
    width: 50%;
    background-color: black;
    cursor: pointer;
    position: absolute;
    left: 25%;
    top: 50%;
}

body {
    background-image: url("../textures/default_background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: black;
}